<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on

# Errores
ErrorDocument 404 https://localhost/nuvo-automotive/home/error

# Esconder extensiones
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
RewriteRule ^(.*)/(.*)/?(.*)?$ index.php?controller=$1&action=$2&id=$3 [NC,L,QSA]

# RewriteRule ^(.*)/(.*) index.php?controller=$1&id=$2 [QSA]
</IfModule>

# # Caché
# <FilesMatch "\.(jpg|png|css|js)$">
# Header set Cache-Control "public, max-age=160704000"
# </FilesMatch>

# # Prevente viewing .htaccess
# <Files .htaccess>
# order allow,deny
# deny from all
# </Files>
