body {
    background-color: #ffffff;
}

.navbar.navbar-expand-lg.sticky-top {
    background-color: rgb(163, 163, 163);
}

body {
    padding: 0;
    background-image: url("../../assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}